.btn{
    align-items: center;
    background-color: dimgrey;
    border-radius: 4px;
    color: #eaff6a;
    display: flex;
    flex-direction: row-reverse;
    font-family: untitled sans;
    justify-content: center;
    line-height: 26px;
    padding: 7px 20px;
}